/SampleWebTest/packages/*
/SampleWebTest/SampleWebTest/bin/Debug/*
/SampleWebTest/SampleWebTest/bin/Debug/*
/SampleWebTest/SampleWebTest/bin/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/.vs/SampleWebTest/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
