/SampleWebTest/packages/*
/SampleWebTest/SampleWebTest/bin/Debug/*
/SampleWebTest/SampleWebTest/bin/Debug/*
/SampleWebTest/SampleWebTest/bin/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/.vs/SampleWebTest/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/obj/Debug/*
/SampleWebTest/SampleWebTest/bin/Debug/*
/SampleWebTest/SampleWebTest/bin/Debug/SampleWebTest.exe
/SampleWebTest/SampleWebTest/bin/Debug/SampleWebTest.exe
/SampleWebTest/SampleWebTest/bin/Debug/SampleWebTest.pdb
/SampleWebTest/SampleWebTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.csproj.FileListAbsolute.txt
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.csprojResolveAssemblyReference.cache
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.exe
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.pdb
/SampleWebTest/SampleWebTest/bin/Debug/SampleWebTest.exe
/SampleWebTest/SampleWebTest/bin/Debug/SampleWebTest.pdb
/SampleWebTest/SampleWebTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.csproj.FileListAbsolute.txt
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.csprojResolveAssemblyReference.cache
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.exe
/SampleWebTest/SampleWebTest/obj/Debug/SampleWebTest.pdb
/SampleWebTest/SampleWebTest.Test/bin/*
/SampleWebTest/SampleWebTest.Test/obj/*
